@import url('https://fonts.googleapis.com/css?family=Ubuntu');
body {
    margin: 0 auto;
    width: 100vw;
    height: 100vh;
    font-family: 'Ubuntu', sans-serif;
  }
  .wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: row;
    height: 100%;
  }
  .control{
    width: 20%;
    margin-left: 30px;
  }
  .control button{
    width: 160px;
    padding: 15px 30px;
    margin-bottom: 15px;
    border: none;
    border-radius: 3px;
    background: #ff7f50cc;
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
    cursor: pointer;
    font-size: 16px;
  }
  .control .active{
    background: #4a3a3a;
  }
  .puzzle {
    position: relative;
    background: #fff;
    box-shadow: 0px 0px 0px 6px;
  }
  .plz {
    width: 120px;
    text-align: center;
    font-size: 20px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    transition: 0.3s all;
    color: #fff;
  }

  .pointer {
    background: #fff;
  }
  [moveDirection] {
    cursor: pointer;
    z-index: 333;
  }
  [moveDirection]:hover {
    background: rgba(103, 58, 183, 0.47);
  }