body {
    margin: 0 auto;
  }
  .puzzle {
    width: 360px;
    height: 300px;
    position: relative;
    background: #fff;
    box-shadow: 2px 2px 0px 3px;
  }
  .plz {
    width: 120px;
    text-align: center;
    font-size: 20px;
    background: gainsboro;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    transition: 0.3s all;
  }
  .plz:nth-child(1) {
    top: 0;
    left: 0;
  }
  .plz:nth-child(2) {
    top: 0px;
    left: 120px;
  }
  .plz:nth-child(3) {
    top: 0px;
    left: 240px;
  }
  .plz:nth-child(4) {
    top: 100px;
    left: 0px;
  }
  .plz:nth-child(5) {
    top: 100px;
    left: 120px;
  }
  .plz:nth-child(6) {
    top: 100px;
    left: 240px;
  }
  .plz:nth-child(7) {
    top: 200px;
    left: 0px;
  }
  .plz:nth-child(8) {
    top: 200px;
    left: 120px;
  }
  .plz:nth-child(9) {
    top: 200px;
    left: 240px;
  }
  .pointer {
    background: #fff;
  }
  [moveDirection] {
    cursor: pointer;
    z-index: 333;
  }
  [moveDirection]:hover {
    background: rgba(103, 58, 183, 0.47);
  }